# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IntelliJ
.idea/

# Project exclude paths
/out/
/out/production/classes/
/out/test/classes/
resources/drivers/